.nutriments-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 39px;
  align-items: center;
}

.nutriment-item {
  width: 258px;
  height: 124px;
  background: #fbfbfb;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
}

.img-calorie {
  position: relative;
  background: rgba(255, 0, 0, 0.1);
  width: 60px;
  height: 60px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.img-proteine {
  position: relative;
  background: rgba(74, 184, 255, 0.1);
  width: 60px;
  height: 60px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.img-glucide {
  position: relative;
  background: #f9ce23;
  width: 60px;
  height: 60px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.1;
  mix-blend-mode: normal;
  border-radius: 6px;
}

.img-lipide {
  position: relative;
  background: rgba(253, 81, 129, 0.1);
  width: 60px;
  height: 60px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.lipide-logo {
  color: #fd5181;
}

.item-count {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 51px;
}
